PORT=7600
CORS_OPTIONS='{"origin":["http://localhost:5173","http://localhost:4173"],"credentials":true,"methods":"GET,POST,OPTIONS"}'
COOKIE_SETTINGS='{"httpOnly":true,"secure":false,"sameSite":"lax","path":"/"}'
SPOTIFY_CLIENT_KEY=''
FIREBASE_SERVICE_ACCOUNT_KEY='{"type":"service_account", ...}'
GOOGLE_OAUTH_CLIENT_ID=''
GOOGLE_OAUTH_CLIENT_SECRET=''
REDIRECT_URI='http://localhost:5173/auth/callback'
REDIS_URL='redis://localhost:6379'
REDIS_PASSWORD=your_password_here_if_needed